<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spatial-annotation-tool-maps-auth2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6c784d20-0f6d-4df9-9713-fda1814fab6d/resourceGroups/spatial-annotation-tool/providers/Microsoft.Web/sites/spatial-annotation-tool-maps-auth2</ResourceId>
    <UserName>$spatial-annotation-tool-maps-auth2</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://spatial-annotation-tool-maps-auth2.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFFkBAfpyCke/jR4oaS6fBwAAAAACAAAAAAAQZgAAAAEAACAAAADvX0yrFQqR+bfIWikHgglC4V50f+kcxi+v8bniV7A3cAAAAAAOgAAAAAIAACAAAACIpBr8NbnOel4SsvRVpcWCKuydbGSoTQbEYsPYemEwhYAAAAB/MM0jsbI+XxuQddL99+HlxzTncM3Q47ds/+R+ZS55xv187peEqi3YZ/Uyaw+OGXbzjoRHXI4T+YLV0v5rlV6SC/CFzCBZCjr8GG/oT+nAf0J6SWVTNPn9NLRdMJfgTkk8fGdVmmRlJyKl809PjRYA0VQS5hxTRCeQLG/AhnEad0AAAAB0zqWmq1qKMY+YJlpWdaZ/yFrh+7HCslr9XvT0E1/nP4KcJW8b7SrS/EAs1K+i8z4dKC4qGuD/SJskOQidIS4A</EncryptedPassword>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>